.story {

  &__pictures {
    background-color: rgb(29, 148, 35);
    grid-column: full-start / col-end 4;
  }

  &__content {
    background-color: rgb(29, 140, 148);
    grid-column: col-start 5 / full-end;
  }
}